body {
    background-image: repeating-linear-gradient(rgb(141, 134, 31), blue);
}
.GreetF {
    background-color: rgb(32, 114, 87);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 0.5em solid;
    width: 50%;
    height: 13.5em;
}
.message {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em;  
}
.data {
    padding: 1em;
    margin: 0.1em;
}
.buttons {
    background-color: chocolate;
    padding: 0.5em;
}
.buttons:hover{
    background-color: chartreuse;
}
.TrasportF {
    background-color: rgb(32, 114, 87);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 0.5em solid;
    width: 50%;
    height: 13.5em;
}
.price {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em; 
}
.PhoneBillF {
    background-color: rgb(32, 114, 87);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 0.5em solid;
    width: 50%;
    height: 13.5em;
}
.bill {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em; 
}
.EnoughAirtimeF {
    background-color: rgb(32, 114, 87);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 0.5em solid;
    width: 50%;
    height: 13.5em;
}
.output {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em; 
}
.dataA {
    display: inline-block;
    width: 9em;
    padding: 0.3em;
    margin: 0.1em;
}
.ExpensiveItemsF {
    background-color: rgb(32, 114, 87);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 0.5em solid;
    /* width: 50%; */
    height: 12em;
}
.product {
    background-color: aquamarine;
    padding: 1em;
    margin: 1em; 
}
h1 {text-align: center;}

@media (min-width: 768px) {
.firstWidgets {
    display: flex;
    padding: 1em;
}
/* .firstWidgets {
    flex: 1;
} */
.secondWidgets {
    display: flex;
    padding: 1em;
}
/* .secondWidgets {
    flex: 1;
} */
}